---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import CardComponent from '../components/CardComponent.vue';
import { ref } from 'vue';
---

<Layout title="Hadeeth From A Press">
	<main>
		<div class="py-8 px-4">			
			<CardComponent client:visible/>
		</div>
	</main>
</Layout>


<style>
body {
	background-color: #292929;
}
main {
	margin: auto;
	max-width: 800px;
}

</style>
