<footer class="text-center w-full bg-black text-center p-4 text-white hover:bg-white hover:text-black transition-all flex justify-center items-center gap-4">
  <p class="text-sm sm:text-base">
    Made by <a href="https://github.com/fikfan" class="hover:underline" target="_blank">@fikfan</a> & <a href="https://github.com/spilltheteapls" class="hover:underline" target="_blank">@spilltheteapls</a> with ❤️
  </p>
  <a href="https://github.com/fikfan/hadith-app" target="_blank" class="hover:invert">
    <img src="/gh.png" alt="" width="30" height="30">
  </a>
</footer>