<nav class="bg-black p-4 text-white text-center hover:bg-white hover:text-black transition-all">
  <a href="https://hadeethenc.com/en/home" class="hover:underline" target="_blank">Happy Fasting! API By Hadeethenc</a>
</nav>
